/*--------------------------------------------------------------
Front page promo area
--------------------------------------------------------------*/

.promo-text {
    box-sizing: border-box;

}

.promo-title {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 .5em;
    font-size: 2em;
    background: hsla(0, 0%, 100%, .75);
}

.promo-lede {
    padding: 1em 1em;
    font-size: 1.4em;
    color: $beige;
    text-shadow: 1px 1px 3px hsla(277, 47%, 40%, .85);
    background: hsla(277, 47%, 66%, .85);

}

@media screen and (min-width: 600px) {
    .promo-area {
        position: relative;
        max-height: 20em;
        overflow: hidden;
    }

    .promo-content {
        position: absolute;
        -js-display: flex;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .promo-text {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 12.5%;
        max-width: 52em;
    }

    .promo-lede {
        margin-top: -.5em;
        margin-left: 20%;
        text-align: right;
        width: 70%;
    }
}
